.create-recipe {
  display: grid;
  gap: var(--size-2);
}

.create-recipe > section {
  display: grid;
  gap: var(--size-2);
  align-content: start;
  background-color: var(--surface-1);
  border-radius: var(--size-2);
  padding: var(--size-2);
}


.ingredient-list:empty {
  height: 0;
}
.ingredient-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  gap: var(--size-2);
  margin-block: 0;
  padding: 0;
  list-style: none;
  interpolate-size: allow-keywords;
  transition: height 0.2s var(--ease-out);
}
.ingredient-list > li {
  display: grid;
  background-color: var(--surface-2);
  border-radius: var(--size-1);
  padding: var(--size-2);
  animation: slideup 0.2s var(--ease-out);
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .unit-suffix {
    place-self: center;
    padding-inline: var(--size-1);
  }
  input {
    min-width: 0;    
  }
}

.step-list {
  display: grid;
  gap: var(--size-2);
  margin-block: 0;
  padding: var(--size-2);
  interpolate-size: allow-keywords;
  transition: height 0.2s var(--ease-out);
}
.step-list:empty {
  display: none;
}
.step-list:empty + button {
  display: none;
}
.step-list > li {
  display: flex;
  align-items: center;
  gap: var(--size-1);
  animation: slideup 0.2s var(--ease-out);

}
.step-list > li .index-indicator {
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  padding: var(--size-1);
  color: var(--primary);
  border: solid 1px var(--primary);
  height: 0.6rem;
  line-height: 0.6rem;
  font-size: 0.8rem;
  display: grid;
  place-items: center;
}
.step-list > li textarea {
  flex: 1;
}


.price-section {
  display: grid;
}

/* DESKTOP */
@media (min-width: 800px) {
  .create-recipe {
    grid-template-columns: 60% 40%;
  }
  .ingredient-section, .step-section {
    grid-column: 1 / span 2;
  }
  .price-section {
    grid-column: 1 / 3;
  }
}
